
@{
    Layout = null;
}

<!DOCTYPE HTML>
<html>
<head>
    <title>Đăng nhập Admin</title>
    <meta charset="UTF-8" />
    <meta name="Designer" content="PremiumPixels.com">
    <meta name="Author" content="$hekh@r d-Ziner, CSSJUNTION.com">
    <link href="~/Content/css/reset.css" rel="stylesheet" />
    <link href="~/Content/css/structure.css" rel="stylesheet" />
</head>

<body>
    <form class="box login">
        <fieldset class="boxBody">
            <label>Tên đăng nhập</label>
            <input type="text" tabindex="1" placeholder="Tên admin" required name="tenadmin">
            <label><a href="#" class="rLink" tabindex="5">Quên mật khẩu</a>Mật khẩu</label>
            <input type="password" tabindex="2" required name="matkhau"/>
        </fieldset>
        <footer>
            <label><input type="checkbox" tabindex="3">Ghi nhớ thông tin</label>
            <input type="submit" class="btnLogin" value="Đăng nhập" tabindex="4">
        </footer>
    </form>
</body>
</html>